ENV=dev
DEV_URL=http://0.0.0.0:8000
STAGE_URL=http://0.0.0.0:8000
PROD_URL=http://api.reqres.in

DATABASE_ENGINE=postgresql+psycopg2://postgres:123456@localhost:5432/postgres
DATABASE_POOL_SIZE=10
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
